<h1>Eldest Director</h1>
<% if @the_eldest_director.present? %>
  <p>
    The eldest director in our dataset right now is 
    <a href="/directors/<%= @the_eldest_director.id %>">
      <%= @the_eldest_director.name %>
    </a>, born on <%= @the_eldest_director.dob.strftime("%B %d, %Y") %>.
  </p>
<% end %>
</body>
